body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    margin-right: 10px;
}

input, select {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}
